name: Node.js Docker CI

on:
    push:
        branch:
        - main
    pull_request:
        branches:
        - main

jobs:
    build-and-test:
        runs-on: ubuntu-latest
    services:
       mssql:
            image: mcr.microsoft.com/mssql/server:2019-latest
            env:
                SA_PASSWORD: "Your_password123"
                ACCEPT_EULA: "Y"
            ports:
                - 1433:1433
            options: >-
                --health-cmd " /opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P YourStrong@Passw0rd -Q 'SELECT 1' "
                --health-interval 10s
                --health-timeout 5s
                --health-retries 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Build Docker image
        run: docker build -t basicrudnode:latest .